.DS_Store
.venv/
__pycache__/
*.pyc
data/*
!data/.gitkeep
!data/raw/
data/raw/**
!data/raw/.gitkeep
!data/processed/
data/processed/**
!data/processed/.gitkeep
!data/validation/
data/validation/**
!data/validation/.gitkeep
!data/sample/
!data/sample/**
